.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px gray;
    background-color: #fff;
    padding: 5px 10px;
    position: fixed;
    width: 100%;
}

.flex-dire{
    display: flex;
    align-items: center;
}

.right{
    margin-left: 20px;

}

.right img{
    width: 120px;
}

.left img{
    width: 90px;
    border-radius: 50%;
}

.navbar .right i{
    font-size: 23px;
    padding-right: 10px;
    color: gray;
    cursor: pointer;
}

.navbar .left i{
    font-size: 23px;
    padding-right: 16px;
    color: gray;
    cursor: pointer;
}

.cent{
    border-radius: 20px;
    background-color: rgb(210, 209, 209);
    border: 1px solid rgb(191, 190, 190);
}

.cent input{
    width: 430px;
    border-radius: 20px 0px 0px 20px;
    padding: 13px;
    border: none;
    outline: none;
    font-size: 18px;
}

.navbar .left .video-call{
    color: rgb(158, 25, 25);
}

.cent i{
    text-align: center;
    color: gray;
    font-size: 21px;
    width: 65px;
}